:root {
  --background-clr: #2d3a71;
  --light-clr: rgb(245, 245, 245);
  --secondary-clr: #3e8e41;
  --ft-size: 16px;
  --ft-family: "Roboto Mono", monospace;
}

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #2d3a71;
  font-family: var(--ft-family);
  font-size: var(--ft-size);
  color: var(--light-clr);
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  display: grid;
  padding: 0 1rem;
  grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
}
.grid-item {
  text-align: center;
}

/* --- Description --- */
.description {
  border: 1px solid white;
}
.description-logo {
  font-size: 2.5rem;
}
.description-text {
  font-size: 2rem;
}

/* --- Form --- */
.form {

}

/* .form {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 170px;
  left: 80px;
} */

/* .form p {
  color: whitesmoke;
  font-size: 28px;
  text-align: justify;
}

.form input.input {
  width: 280px;
  height: 40px;
  font-size: 18px;
  position: absolute;
  left: 50px;
} */

/* .form button.button {
  position: absolute;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  top: 270px;
  left: 125px;
} */

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* .pdf {
  position: absolute;
  width: 400px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  left: 800px;
} */

/* .pdf img {
  width: 400px;
  height: 400px;
}

.pdf button.button {
  position: absolute;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  top: 420px;
  left: 70px;
} */
/* 
@media (max-width: 414px) {
  .pdf {
    position: absolute;
    width: 400px;
    height: 600px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    top: 600px;
    left: 10px;
  }
  .pdf button.button {
    position: absolute;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    top: 420px;
    left: 70px;
  }
  .form {
    position: absolute;
    width: 400px;
    height: 400px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    top: 170px;
    left: 10px;
  }
  .form p {
    color: whitesmoke;
    font-size: 25px;
    text-align: justify;
  }
  .form button.button {
    position: absolute;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    top: 270px;
    left: 130px;
  }
} */
